Header always set Access-Control-Allow-Origin "*"
Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
Header always set Access-Control-Allow-Headers "Content-Type"

RewriteEngine On

RewriteCond %{REQUEST_METHOD} ^GET$
RewriteRule ^applications$ controllers/applications.php?action=index

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^applications$ controllers/applications.php?action=post

RewriteCond %{REQUEST_METHOD} ^PUT$
RewriteRule ^applications/([0-9]+)$ controllers/applications.php?action=update&id=$1
